.chat-contents
  .contents-header
    .contents-header__left-text
      %h2.contents-header__left-text__current-group 
        = @group.name
      %ul.contents-header__left-text__member-list
        Member：
        %li.contents-header__left-text__member-list__member<
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group.id) do
      .contents-header__edit-btn Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'