.chat-bar
  .chat-bar__header
    .chat-bar__header__text
      %p.chat-bar__header__user-name
        = current_user.name
      %ul.chat-bar__header__menu
        %li.chat-bar__header__menu__new-group<
          =link_to new_group_path do
            = fa_icon 'edit'
        %li.chat-bar__header__menu__edit-user<
          =link_to edit_user_path(current_user) do
            = fa_icon 'cog'
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          %p.group__group-name
            = group.name
          %p.group__group-message
            = group.show_last_message